<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Server</name>
    </assembly>
    <members>
        <member name="T:Server.Consts">
            <summary>
            Константы на весь сервер.
            </summary>
        </member>
        <member name="F:Server.Consts.EMAIL_MAX_LENGTH">
            <summary>
            Максимальная длина емаил.
            </summary>
        </member>
        <member name="F:Server.Consts.PASSWORD_MAX_LENGTH">
            <summary>
            Максимальная длина пароля.
            </summary>
        </member>
        <member name="F:Server.Consts.MAX_LOGIN_ATTEMPTS">
            <summary>
            Максимальное количество попыток аутентификации.
            </summary>
        </member>
        <member name="T:Server.Extensions.JObjectExtension">
            <summary>
            Содержит расширения для работы с объектами <see cref="T:Newtonsoft.Json.Linq.JObject"/>.
            </summary>
        </member>
        <member name="M:Server.Extensions.JObjectExtension.GetValueSafe(Newtonsoft.Json.Linq.JObject,System.String)">
            <summary>
            Безопасно извлекает значение по указанному пути в структуре JSON.
            Если путь не существует или значение имеет другой тип, возвращает <c>null</c>.
            </summary>
            <param name="obj">Объект <see cref="T:Newtonsoft.Json.Linq.JObject"/>, из которого извлекается значение.</param>
            <param name="path">Путь к значению в формате JSONPath (например: "$.user.name")</param>
            <returns>Значение как строка, если оно существует и может быть преобразовано в строку; иначе <c>null</c>.</returns>
        </member>
        <member name="T:Server.GameDataCache.IHeroCacheService">
            <summary>
            Интерфейс сервиса кэширования данных о героях.
            </summary>
        </member>
        <member name="P:Server.GameDataCache.IHeroCacheService.HeroesJson">
            <summary>
            JSON-строка со всеми героями.
            </summary>
        </member>
        <member name="M:Server.GameDataCache.IHeroCacheService.InitializeAsync(System.IServiceProvider)">
            <summary>
            Инициализирует кэш данных о героях.
            </summary>
            <param name="serviceProvider">Провайдер служб для получения зависимостей.</param>
        </member>
        <member name="T:Server.GameDataCache.HeroesCacheService">
            <summary>
            Сервис для кэширования данных о героях в формате JSON.
            </summary>
        </member>
        <member name="M:Server.GameDataCache.HeroesCacheService.#ctor(Microsoft.Extensions.Logging.ILogger{Server.GameDataCache.HeroesCacheService})">
            <summary>
            Сервис для кэширования данных о героях в формате JSON.
            </summary>
        </member>
        <member name="F:Server.GameDataCache.HeroesCacheService._logger">
            <summary>
            Логгер для записи событий сервиса.
            </summary>
        </member>
        <member name="F:Server.GameDataCache.HeroesCacheService._json">
            <summary>
            Кэшированная JSON-строка с данными о героях.
            </summary>
        </member>
        <member name="M:Server.GameDataCache.HeroesCacheService.InitializeAsync(System.IServiceProvider)">
            <summary>
            Инициализирует кэш, загружая данные о героях из базы данных.
            </summary>
            <param name="serviceProvider">Провайдер служб для создания scope и получения DbContext.</param>
            <exception cref="T:System.InvalidOperationException">
            Возникает при невозможности получить DbContext из serviceProvider.
            </exception>
        </member>
        <member name="P:Server.GameDataCache.HeroesCacheService.HeroesJson">
            <summary>
            Возвращает JSON-строку с данными о героях.
            </summary>
            <returns>JSON-строка со всеми героями.</returns>
            <exception cref="T:System.InvalidOperationException">
            Возникает, если кэш не был инициализирован.
            </exception>
        </member>
        <member name="T:Server.Http_NS.Controllers_NS.Admin_NS.AddItemController">
            <summary>
            
            </summary>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Admin_NS.AddItemController.Main">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="T:Server.Http_NS.Controllers_NS.Collection_NS.CollectionController">
            <summary> Контроллер для управления коллекциями пользователя. </summary>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Collection_NS.CollectionController.#ctor(Server_DB_Postgres.DbContext_Game)">
            <summary> Контроллер для управления коллекциями пользователя. </summary>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Collection_NS.CollectionController.All">
            <summary> Получает коллекцию текущего пользователя. </summary>
        </member>
        <member name="T:Server.Http_NS.Controllers_NS.ControllerBaseApi">
            <summary>
            Базовый абстрактный класс для всех контроллеров API.
            Предоставляет общие функции и настройки для API-контроллеров.
            </summary>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.ControllerBaseApi.BadRequestWithServerError(System.String)">
            <summary>
            Возвращает ответ BadRequest (400) с ключом локализации для ошибки сервера.
            </summary>
            <param name="KEY_LOCALIZATION">Ключ локализации, идентифицирующий конкретную ошибку.</param>
            <returns>Ответ BadRequest с объектом, содержащим ключ локализации.</returns>
            <remarks>
            Используется для стандартизированной обработки ошибок с поддержкой локализации.
            </remarks>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.ControllerBaseApi.BadRequestAuthInvalidCredentials">
            <summary>
            Возвращает стандартный ответ BadRequest (400) для ошибки неверных учетных данных аутентификации.
            </summary>
            <returns>Ответ BadRequest с ключом локализации для ошибки неверных учетных данных.</returns>
            <remarks>
            Соответствует ключу локализации <see cref="F:General.LocalizationKeys.Error.Server.InvalidCredentials"/>.
            </remarks>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.ControllerBaseApi.BadRequestInvalidResponse">
            <summary>
            Возвращает стандартный ответ BadRequest (400) для ошибки неверного ответа сервера.
            </summary>
            <returns>Ответ BadRequest с ключом локализации для ошибки неверного ответа.</returns>
            <remarks>
            Соответствует ключу локализации <see cref="F:General.LocalizationKeys.Error.Server.InvalidResponse"/>.
            </remarks>
        </member>
        <member name="T:Server.Http_NS.Controllers_NS.GeneralController">
            <summary>
            Контроллер с общими методами.
            </summary>
            <param name="heroCache"></param>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.GeneralController.#ctor(Server.GameDataCache.IHeroCacheService)">
            <summary>
            Контроллер с общими методами.
            </summary>
            <param name="heroCache"></param>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.GeneralController.ListAllHeroes">
            <summary>
            Возвращает в ответе список всех героев.
            </summary>
            <returns></returns>
        </member>
        <member name="T:Server.Http_NS.Controllers_NS.Http_Tests.TestController">
            <summary>
            
            </summary>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Http_Tests.TestController.Main">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="T:Server.Http_NS.Controllers_NS.PingController">
            <summary>
            Контроллер для проверки доступности сервера путем отправки тестового сигнала (ping).
            </summary>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.PingController.Get">
            <summary>
            Возвращает сообщение "Pong!" для подтверждения доступности сервера.
            </summary>
            <returns>JSON-ответ с полем <see cref="T:System.String"/> message, содержащее значение "Pong!".</returns>
        </member>
        <member name="T:Server.Http_NS.Controllers_NS.Users_NS.AuthenticationController">
            <summary>
            Контроллер аутентификации пользователей. Обрабатывает процесс входа (логин) по email и паролю.
            При успешной проверке возвращает JWT-токен доступа.
            </summary>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.AuthenticationController.#ctor(Server_DB_Postgres.Repositories.UserRepository,Server.Jwt_NS.JwtService,Microsoft.Extensions.Logging.ILogger{Server.Http_NS.Controllers_NS.Users_NS.AuthenticationController},Microsoft.Extensions.Caching.Memory.IMemoryCache,Server.Http_NS.Controllers_NS.Users_NS.BackgroundLoggerAuthentificationService)">
            <summary>
            Контроллер аутентификации пользователей. Обрабатывает процесс входа (логин) по email и паролю.
            При успешной проверке возвращает JWT-токен доступа.
            </summary>
        </member>
        <member name="F:Server.Http_NS.Controllers_NS.Users_NS.AuthenticationController.LockoutPeriod">
            <summary>
            Время блокировки учётной записи при превышении допустимого количества неудачных попыток входа.
            </summary>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.AuthenticationController.Main">
            <summary>
            Основной метод аутентификации: принимает email и пароль, проверяет учётные данные,
            при успехе возвращает JWT-токен. Доступ разрешён без авторизации.
            </summary>
            <returns>JWT-токен при успешной аутентификации или соответствующий код ошибки.</returns>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.AuthenticationController.BadRequestEmailRateLimited(System.String)">
            <summary>
            Возвращает ответ с кодом 429 (Too Many Requests), если пользователь временно заблокирован из-за множества попыток входа.
            </summary>
            <param name="email">Email пользователя, для которого проверяется блокировка.</param>
            <returns>Результат с кодом состояния 429 и данными о времени окончания блокировки.</returns>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.AuthenticationController.LoggingAuthentification(System.Boolean,System.Text.Json.Nodes.JsonObject,System.String,System.Nullable{System.Guid})">
            <summary>
            Асинхронно добавляет запись о попытке аутентификации в очередь фонового логгера.
            В случае ошибки записывает предупреждение в лог.
            </summary>
            <param name="authorizationSuccess">Флаг успешности авторизации.</param>
            <param name="obj">JSON-объект запроса (для аудита).</param>
            <param name="email">Email пользователя (если известен).</param>
            <param name="userId">Идентификатор пользователя (если известен).</param>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.AuthenticationController.GetClientIpAddress">
            <summary>
            Определяет IP-адрес клиента из HTTP-запроса.
            </summary>
            <returns>IP-адрес в формате <see cref="T:System.Net.IPAddress"/> или null, если не удалось определить.</returns>
        </member>
        <member name="T:Server.Http_NS.Controllers_NS.Users_NS.AuthenticationController.LoginAttempt">
            <summary>
            Запись, представляющая данные о попытке входа: количество попыток и время окончания блокировки.
            </summary>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.AuthenticationController.LoginAttempt.#ctor(System.Int32,System.DateTimeOffset)">
            <summary>
            Запись, представляющая данные о попытке входа: количество попыток и время окончания блокировки.
            </summary>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.AuthenticationController.IncrementFailedLoginAttempt(System.String)">
            <summary>
            Увеличивает счётчик неудачных попыток входа для указанного email.
            Если счётчик достиг предела, пользователь будет временно заблокирован.
            </summary>
            <param name="email">Email пользователя.</param>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.AuthenticationController.ResetLoginAttempts(System.String)">
            <summary>
            Сбрасывает счётчик попыток входа после успешного входа.
            </summary>
            <param name="email">Email пользователя.</param>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.AuthenticationController.IsRateLimited(System.String)">
            <summary>
            Проверяет, превышено ли допустимое количество попыток входа для указанного email.
            </summary>
            <param name="email">Email пользователя.</param>
            <returns>True, если пользователь временно заблокирован, иначе — false.</returns>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.AuthenticationController.GetRemainingLockoutTime(System.String)">
            <summary>
            Определяет, сколько секунд осталось до окончания блокировки учётной записи.
            </summary>
            <param name="email">Email пользователя.</param>
            <returns>Количество секунд до разблокировки или 0, если блокировка завершена.</returns>
        </member>
        <member name="T:Server.Http_NS.Controllers_NS.Users_NS.BackgroundLoggerAuthentificationService">
            <summary>
            Фоновый сервис пакетной записи логов авторизации и данных устройств
            с контролируемыми повторными попытками и корректной остановкой.
            </summary>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.BackgroundLoggerAuthentificationService.#ctor(Microsoft.Extensions.Logging.ILogger{Server.Http_NS.Controllers_NS.Users_NS.BackgroundLoggerAuthentificationService},System.IServiceProvider)">
            <summary>
            Фоновый сервис пакетной записи логов авторизации и данных устройств
            с контролируемыми повторными попытками и корректной остановкой.
            </summary>
        </member>
        <member name="T:Server.Http_NS.Controllers_NS.Users_NS.BackgroundLoggerAuthentificationService.LogEntry">
            <summary>
            Лог авторизации с поддержкой повторной обработки и кэшированными данными устройства.
            </summary>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.BackgroundLoggerAuthentificationService.LogEntry.#ctor(System.Boolean,System.Text.Json.Nodes.JsonObject,System.String,System.Nullable{System.Guid},System.Net.IPAddress,System.Int32,System.DateTimeOffset,Server.Http_NS.Controllers_NS.Users_NS.BackgroundLoggerAuthentificationService.DeviceParsedData)">
            <summary>
            Лог авторизации с поддержкой повторной обработки и кэшированными данными устройства.
            </summary>
        </member>
        <member name="T:Server.Http_NS.Controllers_NS.Users_NS.BackgroundLoggerAuthentificationService.DeviceParsedData">
            <summary>
            Распарсенные данные устройства.
            </summary>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.BackgroundLoggerAuthentificationService.DeviceParsedData.#ctor(System.Guid,System.String,System.String,System.String,System.String,System.Nullable{System.Int32},System.Nullable{System.Int32},System.String,System.String,System.Nullable{System.Int32},System.String,System.Nullable{System.Boolean},System.String,System.Nullable{System.Int32})">
            <summary>
            Распарсенные данные устройства.
            </summary>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.BackgroundLoggerAuthentificationService.EnqueueLog(System.Boolean,System.Text.Json.Nodes.JsonObject,System.String,System.Nullable{System.Guid},System.Net.IPAddress)">
            <summary>
            Добавляет лог в очередь с предварительным вычислением данных устройства.
            </summary>
            <param name="authorizationSuccess">Успешность авторизации.</param>
            <param name="obj">JSON объект с данными устройства.</param>
            <param name="email">Email пользователя.</param>
            <param name="userId">ID пользователя.</param>
            <param name="ip">IP-адрес запроса.</param>
            <exception cref="T:System.ArgumentNullException">Бросается, если obj равен null.</exception>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.BackgroundLoggerAuthentificationService.StartAsync(System.Threading.CancellationToken)">
            <inheritdoc />
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.BackgroundLoggerAuthentificationService.ProcessBatchAsync(System.Threading.CancellationToken)">
            <summary>
            Обрабатывает один пакет логов из очереди.
            </summary>
            <param name="ct">Токен отмены.</param>
            <returns>True, если пакет успешно записан или очередь была пуста; иначе false.</returns>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.BackgroundLoggerAuthentificationService.StopAsync(System.Threading.CancellationToken)">
            <inheritdoc />
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.BackgroundLoggerAuthentificationService.Dispose">
            <inheritdoc />
        </member>
        <member name="T:Server.Http_NS.Controllers_NS.Users_NS.RegistrationController">
            <summary>
            Контроллер регистрации.
            </summary>
        </member>
        <member name="M:Server.Http_NS.Controllers_NS.Users_NS.RegistrationController.Register">
            <summary>
            Регистрация.
            </summary>
            <returns></returns>
        </member>
        <member name="T:Server.Http_NS.Middleware_NS.ExceptionLoggingMiddleware">
            <summary>
            Middleware для глобального перехвата исключений и логирования в файл.
            </summary>
            <remarks>
            Конструктор.
            </remarks>
        </member>
        <member name="M:Server.Http_NS.Middleware_NS.ExceptionLoggingMiddleware.#ctor(Microsoft.AspNetCore.Http.RequestDelegate,Microsoft.Extensions.Logging.ILogger{Server.Http_NS.Middleware_NS.ExceptionLoggingMiddleware})">
            <summary>
            Middleware для глобального перехвата исключений и логирования в файл.
            </summary>
            <remarks>
            Конструктор.
            </remarks>
        </member>
        <member name="M:Server.Http_NS.Middleware_NS.ExceptionLoggingMiddleware.InvokeAsync(Microsoft.AspNetCore.Http.HttpContext)">
            <summary>
            Основной метод middleware.
            </summary>
        </member>
        <member name="T:Server.Http_NS.Middleware_NS.SecurityHeadersMiddleware">
            <summary>
            Middleware для добавления HTTP-заголовков безопасности.
            </summary>
            <remarks>
            Инициализирует новый экземпляр класса <see cref="T:Server.Http_NS.Middleware_NS.SecurityHeadersMiddleware"/>.
            </remarks>
            <param name="next">Следующий middleware в конвейере обработки запроса.</param>
        </member>
        <member name="M:Server.Http_NS.Middleware_NS.SecurityHeadersMiddleware.#ctor(Microsoft.AspNetCore.Http.RequestDelegate)">
            <summary>
            Middleware для добавления HTTP-заголовков безопасности.
            </summary>
            <remarks>
            Инициализирует новый экземпляр класса <see cref="T:Server.Http_NS.Middleware_NS.SecurityHeadersMiddleware"/>.
            </remarks>
            <param name="next">Следующий middleware в конвейере обработки запроса.</param>
        </member>
        <member name="M:Server.Http_NS.Middleware_NS.SecurityHeadersMiddleware.InvokeAsync(Microsoft.AspNetCore.Http.HttpContext)">
            <summary>
            Обрабатывает HTTP-запрос, добавляя заголовки безопасности к ответу.
            </summary>
            <param name="context">Контекст HTTP-запроса.</param>
            <returns>Задача, представляющая асинхронную операцию обработки запроса.</returns>
            <remarks>
            Добавляет следующие заголовки безопасности:
            <list type="bullet">
            <item><description>Strict-Transport-Security: Принудительное использование HTTPS</description></item>
            <item><description>X-Content-Type-Options: Запрет MIME-sniffing</description></item>
            <item><description>X-Frame-Options: Запрет встраивания в iframe</description></item>
            <item><description>X-XSS-Protection: Защита от XSS-атак</description></item>
            <item><description>Content-Security-Policy: Политика безопасности контента</description></item>
            </list>
            </remarks>
        </member>
        <member name="T:Server.Jwt_NS.ClaimsExtensions">
            <summary>
            Предоставляет расширяющие методы для работы с утверждениями (claims) пользователя.
            </summary>
        </member>
        <member name="M:Server.Jwt_NS.ClaimsExtensions.GetGuid(System.Security.Claims.ClaimsPrincipal)">
            <summary>
            Извлекает идентификатор пользователя в формате Guid из утверждений (claims).
            </summary>
            <param name="user">Объект <see cref="T:System.Security.Claims.ClaimsPrincipal"/>, представляющий аутентифицированного пользователя.</param>
            <returns>
            Идентификатор пользователя в формате <see cref="T:System.Guid"/> или null, если:
            <list type="bullet">
            <item><description>Идентификатор не найден в утверждениях</description></item>
            <item><description>Идентификатор не может быть преобразован в Guid</description></item>
            <item><description>Утверждения не содержат идентификатора</description></item>
            </list>
            </returns>
            <remarks>
            Метод ищет идентификатор пользователя в следующих утверждениях (в порядке приоритета):
            <list type="number">
            <item><description>"sub" (стандартное утверждение JWT для subject)</description></item>
            <item><description>"id" (альтернативное утверждение для идентификатора)</description></item>
            <item><description><see cref="F:System.Security.Claims.ClaimTypes.NameIdentifier"/> (стандартный тип утверждения .NET для идентификатора)</description></item>
            </list>
            Метод выполняет безопасное преобразование строки в Guid, возвращая null при неудаче.
            </remarks>
            <example>
            <code>
            // Получение идентификатора пользователя из контроллера
            Guid? userId = User.GetGuid();
            if (userId.HasValue)
            {
                // Использование идентификатора
            }
            </code>
            </example>
        </member>
        <member name="T:Server.Jwt_NS.JwtOptions">
            <summary>
            
            </summary>
        </member>
        <member name="P:Server.Jwt_NS.JwtOptions.Issuer">
            <summary>Эмитент токена.</summary>
        </member>
        <member name="P:Server.Jwt_NS.JwtOptions.Audience">
            <summary>Аудитория токена.</summary>
        </member>
        <member name="P:Server.Jwt_NS.JwtOptions.Lifetime">
            <summary>Время жизни токена.</summary>
        </member>
        <member name="T:Server.Jwt_NS.JwtService">
            <summary>
            Сервис генерации и валидации JWT-токенов. Секретный ключ извлекается только из
            переменной окружения <c>JWT_SECRET</c>, что исключает хранение секретов в файлах.
            </summary>
        </member>
        <member name="M:Server.Jwt_NS.JwtService.#ctor(Microsoft.Extensions.Options.IOptions{Server.Jwt_NS.JwtOptions})">
            <summary>
            Создаёт экземпляр <see cref="T:Server.Jwt_NS.JwtService"/>, валидируя наличие и размер секретного ключа.
            </summary>
            <param name="options">Параметры JWT (Issuer, Audience, Lifetime), внедрённые через DI.</param>
            <exception cref="T:System.InvalidOperationException">Если переменная окружения <c>JWT_SECRET</c> отсутствует.</exception>
            <exception cref="T:System.ArgumentException">Если длина секрета меньше 32nbsp;байт.</exception>
        </member>
        <member name="M:Server.Jwt_NS.JwtService.GenerateToken(System.Guid,System.Collections.Generic.IEnumerable{System.Security.Claims.Claim})">
            <summary>
            Генерирует JWT-токен для указанного пользователя.
            </summary>
            <param name="userId">Идентификатор пользователя (claim <c>sub</c>).</param>
            <param name="additionalClaims">Необязательные дополнительные claims.</param>
            <returns>Строковое представление JWT.</returns>
        </member>
        <member name="M:Server.Jwt_NS.JwtService.ValidateToken(System.String)">
            <summary>
            Валидирует JWT-токен и возвращает <see cref="T:System.Security.Claims.ClaimsPrincipal"/> при успешной проверке.
            </summary>
            <param name="token">Строковое представление JWT.</param>
            <returns><see cref="T:System.Security.Claims.ClaimsPrincipal"/> с утверждениями пользователя.</returns>
            <exception cref="T:System.ArgumentException">Если токен пустой.</exception>
            <exception cref="T:Microsoft.IdentityModel.Tokens.SecurityTokenException">Если токен не прошёл проверку.</exception>
        </member>
        <member name="M:Server.Jwt_NS.JwtService.GetJwtSecret">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="T:Server.Program">
            <summary>
            Класс содержит точку входа приложения и настройки сервисов, аутентификации,
            middleware, маршрутов и баз данных.
            </summary>
        </member>
        <member name="M:Server.Program.Main(System.String[])">
            <summary>
            Точка входа в приложение. Выполняет настройку DI, БД, аутентификации,
            регистрацию сервисов и запускает сервер.
            </summary>
            <param name="args">Аргументы командной строки.</param>
        </member>
        <member name="T:Server.UserRegAuth_NS.OpenWebSocketController">
            <summary>
            Контроллер для аутентификации пользователей.
            </summary>
            <remarks>
            Конструктор контроллера.
            </remarks>
        </member>
        <member name="M:Server.UserRegAuth_NS.OpenWebSocketController.#ctor">
            <summary>
            Контроллер для аутентификации пользователей.
            </summary>
            <remarks>
            Конструктор контроллера.
            </remarks>
        </member>
        <member name="M:Server.UserRegAuth_NS.OpenWebSocketController.Login">
            <summary>
            Выполняет аутентификацию и возвращает JWT токен.
            </summary>
            <returns>JWT токен при успешной аутентификации или ошибка 401.</returns>
        </member>
        <member name="T:Server.Utilities.JsonObjectExtension">
            <summary>
            Расширение для работы с HTTP-запросами, предоставляющее методы для извлечения объекта JSON из тела запроса.
            </summary>
        </member>
        <member name="M:Server.Utilities.JsonObjectExtension.GetJsonObjectFromRequest(Microsoft.AspNetCore.Http.HttpRequest)">
            <summary>
            Асинхронно извлекает и парсит тело HTTP-запроса как JSON-объект.
            </summary>
            <param name="httpRequest">HTTP-запрос, из которого читается тело.</param>
            <returns>
            Экземпляр <see cref="T:System.Text.Json.Nodes.JsonObject"/>, если тело запроса содержит валидный JSON-объект; иначе — <c>null</c>.
            Возвращает <c>null</c>, если тело пустое, некорректно или не является объектом.
            </returns>
            <exception cref="T:System.ArgumentNullException">Возникает, если <paramref name="httpRequest"/> равен <c>null</c>.</exception>
        </member>
        <member name="M:Server.Utilities.JsonObjectExtension.GetString(System.Text.Json.Nodes.JsonObject,System.String,System.Boolean)">
            <summary>
            Извлекает строковое значение из <see cref="T:System.Text.Json.Nodes.JsonObject"/> по ключу без учёта регистра.
            При необходимости удаляет поле из объекта.
            </summary>
            <param name="obj">Объект JSON, из которого извлекается значение.</param>
            <param name="key">Ключ для поиска (без учёта регистра).</param>
            <param name="removeAfterSuccessGetting">Если <c>true</c>, поле будет удалено из объекта после извлечения.</param>
            <returns>Строковое значение или пустая строка, если ключ не найден или значение null.</returns>
        </member>
        <member name="M:Server.Utilities.JsonObjectExtension.GetStringN(System.Text.Json.Nodes.JsonObject,System.String,System.Int32)">
            <summary>
            Извлекает строковое значение из <see cref="T:System.Text.Json.Nodes.JsonObject"/> по указанному ключу без учета регистра.
            Если ключ не найден, возвращает <c>null</c>.
            Также поддерживает ограничение длины возвращаемой строки.
            </summary>
            <param name="obj">Объект JSON, из которого извлекается значение.</param>
            <param name="key">Ключ, по которому выполняется поиск (без учета регистра).</param>
            <param name="maxLength">Максимальная длина возвращаемой строки. Если значение больше, оно обрезается.
            Значение 0 или меньше означает отсутствие ограничения.</param>
            <returns>
            Строковое представление значения, обрезанное до <paramref name="maxLength"/>,
            или <c>null</c>, если ключ не найден или значение равно null.
            </returns>
        </member>
        <member name="M:Server.Utilities.JsonObjectExtension.GetIntegerN(System.Text.Json.Nodes.JsonObject,System.String)">
            <summary>
            Извлекает целочисленное значение из <see cref="T:System.Text.Json.Nodes.JsonObject"/> по указанному ключу без учета регистра.
            Если ключ не найден, значение равно null или не может быть преобразовано в int, возвращает <c>null</c>.
            </summary>
            <param name="obj">Объект JSON, из которого извлекается значение.</param>
            <param name="key">Ключ, по которому выполняется поиск (без учета регистра).</param>
            <returns>
            если преобразование успешно; иначе — <c>null</c>.
            </returns>
        </member>
        <member name="M:Server.Utilities.JsonObjectExtension.GetBoolN(System.Text.Json.Nodes.JsonObject,System.String)">
            <summary>
            Извлекает булево значение из <see cref="T:System.Text.Json.Nodes.JsonObject"/> по ключу без учёта регистра.
            Поддерживает значения: <c>true</c>, <c>false</c>, <c>1</c>, <c>0</c>, <c>"true"</c>, <c>"false"</c> (без учёта регистра).
            </summary>
            <param name="obj">JSON-объект, в котором выполняется поиск. Не должен быть <c>null</c>.</param>
            <param name="key">Ключ для поиска (без учёта регистра).</param>
            <returns>
            Булево значение или <c>null</c>, если ключ не найден, значение <c>null</c> или не удаётся интерпретировать.
            </returns>
        </member>
        <member name="T:Server.Utilities.PassHasher">
            <summary>
            Предоставляет утилиты для хеширования и верификации паролей.
            </summary>
            <remarks>
            Класс использует <see cref="T:Microsoft.AspNetCore.Identity.PasswordHasher`1"/> из ASP.NET Core Identity
            для безопасного хеширования паролей с использованием современных алгоритмов.
            </remarks>
        </member>
        <member name="M:Server.Utilities.PassHasher.Create(System.String,System.String)">
            <summary>
            Создает хеш пароля для указанного пользователя.
            </summary>
            <param name="user">Идентификатор пользователя или любая строка, связанная с пользователем.
            Используется для добавления соли (salt) к хешу.</param>
            <param name="password">Пароль в открытом виде, который необходимо захэшировать.</param>
            <returns>Хешированная версия пароля, готовая для безопасного хранения.</returns>
            <remarks>
            Метод использует стандартный алгоритм хеширования ASP.NET Core Identity,
            который включает соль (salt) и может автоматически обновлять алгоритмы при необходимости.
            </remarks>
            <example>
            <code>
            string userId = "user123";
            string password = "MySecurePassword123";
            string hashedPassword = PassHasher.Create(userId, password);
            // Сохранить hashedPassword в базу данных
            </code>
            </example>
        </member>
        <member name="M:Server.Utilities.PassHasher.Verify(System.String,System.String,System.String)">
            <summary>
            Проверяет, соответствует ли предоставленный пароль хранимому хешу.
            </summary>
            <param name="user">Идентификатор пользователя или строка, использованная при создании хеша.</param>
            <param name="hashedPassword">Хранимый хеш пароля из базы данных.</param>
            <param name="providedPassword">Пароль, предоставленный пользователем для проверки.</param>
            <returns>
            <c>true</c>, если предоставленный пароль соответствует хешу; в противном случае <c>false</c>.
            </returns>
            <remarks>
            Метод выполняет безопасное сравнение паролей, устойчивое к атакам по времени.
            Автоматически определяет и поддерживает различные версии алгоритмов хеширования,
            что позволяет обновлять старые хеши при следующем успешном входе пользователя.
            </remarks>
            <example>
            <code>
            string userId = "user123";
            string storedHash = "..."; // Из базы данных
            string userInput = "MySecurePassword123";
            
            bool isValid = PassHasher.Verify(userId, storedHash, userInput);
            if (isValid)
            {
                // Пароль верный
            }
            </code>
            </example>
        </member>
        <member name="T:Server.WebSocket_NS.WebSocketConnection">
            <summary>
            Представляет одно WebSocket подключение клиента.
            Обрабатывает прием и отправку сообщений, аутентификацию и управление жизненным циклом подключения.
            </summary>
        </member>
        <member name="M:Server.WebSocket_NS.WebSocketConnection.#ctor(System.Net.WebSockets.WebSocket,Microsoft.Extensions.Logging.ILogger{Server.WebSocket_NS.WebSocketConnection},Microsoft.Extensions.Configuration.IConfiguration,Server.WebSocket_NS.WebSocketConnectionHandler,Server.Jwt_NS.JwtService)">
            <summary>
            Представляет одно WebSocket подключение клиента.
            Обрабатывает прием и отправку сообщений, аутентификацию и управление жизненным циклом подключения.
            </summary>
        </member>
        <member name="P:Server.WebSocket_NS.WebSocketConnection.Id">
            <summary>
            Уникальный идентификатор подключения.
            </summary>
        </member>
        <member name="F:Server.WebSocket_NS.WebSocketConnection._webSocket">
            <summary>
            WebSocket клиента для обмена сообщениями.
            </summary>
        </member>
        <member name="F:Server.WebSocket_NS.WebSocketConnection._logger">
            <summary>
            Логгер для записи событий подключения.
            </summary>
        </member>
        <member name="F:Server.WebSocket_NS.WebSocketConnection._receiveBufferSize">
            <summary>
            Размер буфера для приема сообщений из конфигурации.
            </summary>
        </member>
        <member name="F:Server.WebSocket_NS.WebSocketConnection._webSocketServer">
            <summary>
            Обработчик WebSocket соединений для управления подключениями.
            </summary>
        </member>
        <member name="F:Server.WebSocket_NS.WebSocketConnection._jwtService">
            <summary>
            Сервис для работы с JWT токенами аутентификации.
            </summary>
        </member>
        <member name="F:Server.WebSocket_NS.WebSocketConnection._isAuthenticated">
            <summary>
            Флаг, указывающий на аутентификацию клиента.
            </summary>
        </member>
        <member name="M:Server.WebSocket_NS.WebSocketConnection.HandleAsync(System.Threading.CancellationToken)">
            <summary>
            Обрабатывает WebSocket подключение клиента.
            </summary>
            <param name="cancellationToken">Токен отмены для прерывания обработки.</param>
            <returns>Задача, представляющая асинхронную обработку подключения.</returns>
            <exception cref="T:System.OperationCanceledException">
            Возникает при отмене операции через cancellationToken.
            </exception>
            <exception cref="T:System.Net.WebSockets.WebSocketException">
            Возникает при ошибках WebSocket соединения.
            </exception>
        </member>
        <member name="M:Server.WebSocket_NS.WebSocketConnection.IsExpectedDisconnectException(System.Exception)">
            <summary>
            Проверяет, является ли исключение ожидаемым при разрыве соединения.
            </summary>
            <param name="ex">Исключение для проверки.</param>
            <returns>
            true - если исключение связано с нормальным разрывом соединения;
            false - если это неожиданная ошибка.
            </returns>
        </member>
        <member name="M:Server.WebSocket_NS.WebSocketConnection.SendMessageSafeAsync(System.String,System.Threading.CancellationToken)">
            <summary>
            Безопасно отправляет сообщение клиенту.
            </summary>
            <param name="message">Текст сообщения для отправки.</param>
            <param name="cancellationToken">Токен отмены операции отправки.</param>
            <returns>Задача, представляющая асинхронную отправку сообщения.</returns>
        </member>
        <member name="M:Server.WebSocket_NS.WebSocketConnection.CloseSocketAsync(System.Net.WebSockets.WebSocketCloseStatus,System.String,System.Threading.CancellationToken)">
            <summary>
            Корректно закрывает WebSocket соединение.
            </summary>
            <param name="closeStatus">Статус закрытия соединения.</param>
            <param name="statusDescription">Описание причины закрытия.</param>
            <param name="cancellationToken">Токен отмены операции закрытия.</param>
            <returns>Задача, представляющая асинхронное закрытие соединения.</returns>
        </member>
        <member name="M:Server.WebSocket_NS.WebSocketConnection.CleanupSocketAsync">
            <summary>
            Очищает ресурсы WebSocket соединения.
            </summary>
            <returns>Задача, представляющая асинхронную очистку ресурсов.</returns>
        </member>
        <member name="T:Server.WebSocket_NS.WebSocketConnectionHandler">
            <summary>
            Обработчик подключений WebSocket. Работает как Singleton-сервис и интегрирован 
            в пайплайн ASP.NET Core Middleware через app.Map().
            </summary>
        </member>
        <member name="M:Server.WebSocket_NS.WebSocketConnectionHandler.#ctor(Microsoft.Extensions.Logging.ILogger{Server.WebSocket_NS.WebSocketConnectionHandler},System.IServiceProvider,Microsoft.Extensions.Configuration.IConfiguration,Server.Jwt_NS.JwtService)">
            <summary>
            Инициализирует новый экземпляр <see cref="T:Server.WebSocket_NS.WebSocketConnectionHandler"/>.
            </summary>
            <param name="logger">Сервис логирования для записи информации и ошибок.</param>
            <param name="serviceProvider">Поставщик зависимостей для разрешения сервисов.</param>
            <param name="configuration">Конфигурация приложения.</param>
            <param name="mongoRepository">Репозиторий для работы с MongoDB.</param>
            <param name="jwtService">JWT Сервис</param>
        </member>
        <member name="M:Server.WebSocket_NS.WebSocketConnectionHandler.ProcessKestrelWebSocketRequest(Microsoft.AspNetCore.Http.HttpContext,System.Threading.CancellationToken)">
            <summary>
            Вызывается при запросе открытия веб сокета от клиента через пайплайн ASP.NET Core.
            </summary>
            <param name="context">Контекст HTTP-запроса от Kestrel.</param>
            <param name="stoppingToken">Токен отмены.</param>
            <returns>Асинхронная задача обработки соединения.</returns>
            <exception cref="T:System.ArgumentNullException">Если контекст равен null.</exception>
        </member>
    </members>
</doc>
